.personal-cab {
  display: flex;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  &__icon {
  }

  &__text {
    color: var(--white);
    font-size: 12px;
    font-weight: 600;
    line-height: 133.4%;
    letter-spacing: 0.24px;
  }
}
